/*  Color: */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.row {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

main {
  background-image: linear-gradient(#FFd2EF, #838df0);
}

h1 {
  padding: 15px;
  font-size: 60px;
  font-weight: 400;
  text-shadow: #838df0 1px 0 10px;
}

.serv, .asesoria, .unoAuno, .grupales {
  margin-bottom: 20px;
  display: flex;
}

.serv-card, .asesoria .card, .unoAuno .card, .grupales .card {
  width: 300px;
  height: 500px;
  background-color: rgba(236, 160, 154, 0.8901960784);
  box-shadow: 2px 2px 2px 2px #838df0;
  transition: 0.5s;
}

.serv-img, .asesoria .card img, .unoAuno .card img, .grupales .card img {
  align-self: center;
  height: 275px;
  width: 280px;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-image: linear-gradient(#838df0, #FFd2EF);
  padding: 7px;
  position: relative;
}
header img {
  width: 60px;
  height: 60px;
  border: 2px solid #838df0;
  border-radius: 100%;
  object-fit: cover;
  transition: 0.5s;
  position: absolute;
  top: 10%;
}
header img:hover {
  width: 66px;
  height: 66px;
  object-fit: cover;
}

nav ul {
  gap: 3px;
}
nav .navText {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
nav .navText:hover {
  box-shadow: 2px 2px 2px 2px #838df0;
  border-radius: 4px;
  font-size: 18px;
  color: white;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 75%;
  background-image: linear-gradient(#838df0, #FFd2EF);
}
.foot p {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  text-shadow: #838df0 1px 0 10px;
}
.foot .foot_social p, .foot .foot_contact p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: whitesmoke;
  text-shadow: #838df0 1px 0 10px;
}
.foot .foot_social .foot_icons, .foot .foot_contact .foot_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.foot .foot_social .foot_icons img, .foot .foot_contact .foot_icons img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  margin: 10px;
  opacity: 0.7;
}
.foot .foot_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.foot .foot_contact img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  margin: 0;
  opacity: 0.7;
}

/*Index seccion arriba*/
.indexUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-image: linear-gradient(to left, #f57335, #FFd2EF);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}
.indexUp p {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  color: black;
  padding: 10px;
  text-shadow: whitesmoke 1px 0 10px;
}
.indexUp img {
  height: 75%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(39, 38, 38, 0.658);
  object-fit: cover;
}

/*Index seccion abajo*/
.secMarcas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 75%;
  width: 100%;
  padding: 15px;
  background-color: rgba(81, 0, 255, 0.3843137255);
}
.secMarcas h2 {
  font-size: 40px;
  font-weight: 400;
  color: #FFd2EF;
  text-shadow: #838df0 1px 0 10px;
  opacity: 1;
}
.secMarcas .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-bottom: 10px;
  border-radius: 100%;
  opacity: 1;
}
.secMarcas .logos img {
  width: 250px;
  height: 80px;
  border-radius: 100%;
  border: 3px solid #00964f;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.5s;
}
.secMarcas .logos img:hover {
  width: 300px;
  height: 100px;
  filter: grayscale(0);
}

.meUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 210, 239, 0.3411764706), rgba(131, 142, 240, 0.4235294118)), url("../images/GabyShadow.jpg") no-repeat center center fixed;
  background-size: cover;
  margin-bottom: 20px;
}
.meUp .meUpText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}
.meUp .meUpText p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  color: black;
  padding: 15px;
}
.meUp .meUpText h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  color: whitesmoke;
  text-shadow: #838df0 1px 0 10px;
}

.meDownTitle h2 {
  padding: 15px;
  border: #838df0 5px solid;
  font-size: 55px;
  font-weight: 400;
}

.meDown {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}
.meDown .meDownText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}
.meDown .meDownText p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  padding: 15px;
}
.meDown img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.Gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
}
.Gallery h2 {
  padding: 15px;
  border: #4f00ff 5px solid;
  font-size: 55px;
  font-weight: 400;
}
.Gallery img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.aBrillarTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  background-image: linear-gradient(to left, #FFd2EF, #838df0, #f57335);
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.aBrillarTop img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.699);
  opacity: 0.65;
}
.aBrillarTop h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.aBrillarTop p {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}

.spotify {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  background-image: radial-gradient(#FFd2EF, #f57335, #838df0);
  height: 100%;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
}
.spotify h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  color: white;
  text-shadow: whitesmoke 1px 0 10px;
}
.spotify iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.aBrillarBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-image: linear-gradient(#FFd2EF, #838df0);
  border: #f57335 5px solid;
  width: 100%;
  height: 100%;
}
.aBrillarBottom .bottomText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: rgba(255, 255, 255, 0.233);
  width: 50%;
  height: 100%;
}
.aBrillarBottom .bottomText p {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: rgba(81, 6, 243, 0.7411764706);
  padding: 40px;
  text-shadow: #838df0 15px 15px 15px;
}
.aBrillarBottom .bottomText p a {
  font-weight: bold;
  color: #f57335;
  padding: 10px 14px;
  text-shadow: #838df0 1px 5px 10px;
  transition: 0.3s;
}
.aBrillarBottom .bottomText p a:hover {
  text-decoration: none;
  border-radius: 10px;
  background-color: #00964f;
  text-shadow: none;
  color: white;
}
.aBrillarBottom img {
  width: 75%;
  height: 25%;
  box-shadow: 3px 3px 3px 3px rgba(61, 60, 60, 0.452);
  border-radius: 20px;
  object-fit: cover;
}

.grupales .card:hover {
  background-image: linear-gradient(#838df0 60%, #FFd2EF);
  box-shadow: none;
  transform: scale(1.1);
}

.unoAuno .card:hover {
  background-image: linear-gradient(#00964f 60%, #FFd2EF);
  box-shadow: none;
  transform: scale(1.1);
}

.asesoria .card:hover {
  background-image: linear-gradient(#f57335 60%, #FFd2EF);
  box-shadow: none;
  transform: scale(1.1);
}

/*Link en los servicios*/
.saber {
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
  color: #4f00ff;
  align-items: baseline;
}

.formulario {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  flex-flow: row wrap;
  font-size: 20px;
  font-weight: 400;
  text-align: start;
  background-color: #838df0;
  padding: 20px;
  width: 100%;
  margin-bottom: 15px;
}
.formulario textarea {
  resize: none;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.redes h2 {
  padding: 10px;
  color: #f57335;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.redes .icono {
  width: auto;
  height: 75px;
  object-fit: cover;
  transition: 0.5s;
}
.redes .icono:hover {
  width: auto;
  height: 90px;
}

/*# sourceMappingURL=style.css.map */
