@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*header y Nav*/

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #f57335;
    padding: 30px;
    position: relative;
}

nav ul{
    font-family: 'League Spartan', sans-serif;
    gap: 15px
}

header img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    top: 10%;
}

.navLink {
    text-decoration: none;
    margin: 15px;
    color: black;
}

/*Background*/
.indexSec, .mepreUp, .mepreDown, .aBrillar, .servicios, .contacto{
    background-color: #ffd2ef;
}

/*Propiedades h1 del proyecto*/

.indexSec h1, .mepreUp h1, .aBrillar h1, .servicios h1, .contacto h1{
    padding: 15px;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.cards, .sides{
    display: inline-block;
    width: 500px;
    height: 500px;
}


/*Index*/
/* Index seccion arriba*/
.indexUp{
    position: relative;
}

.indexUp img{
    height: 50%;
    width: 50%;
    object-fit: cover;
    padding: 25px;
    text-align: left;
}

.indexUp p{
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    left: 55%;
    top: 35%;
}

/*Index seccion abajo*/
.secMarcas{
    background-color: #00964f;
    padding: 50px;
}

.secMarcas h2{
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.secMarcas div{
    text-align: center;
}

.logos{
    width: 400px;
    height: 100px;
    margin: 15px;
    object-fit: cover; 
    border-radius: 20%;
}

/*Me presento*/
/*Me presento seccion arriba*/

.secUp{
    text-align: right;
    position: relative;
}

.secUp img{
    height: 40%;
    width: 50%;
    object-fit: cover;
    padding: 25px;
}

.secUp p{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    position: absolute;
    right: 53%;
    top: 2%;
    padding: 15px;
}

/*Me presento seccion abajo*/

.mepreDown h2{
    padding: 30px;
    border: #838df0 5px solid;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 55px;
    font-weight: 400;
}

.secDown{
    text-align: left;
    position: relative;
}

.secDown img{
    height: 40%;
    width: 50%;
    object-fit: cover;
    padding: 25px;
}

.secDown p{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    position: absolute;
    left: 53%;
    top: 2%;
    padding: 15px;
}

/*A brillar mi amor*/

.aBrillar{
    text-align: center;
    position: relative;
}

.aBrillar img{
    height: 100%;
    width: 40%;
    object-fit: cover;
    padding: 25px;
}

/* A Brillar mi amor left side*/
.aBrillarLeft p{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    position: absolute;
    right: 70%;
    top: 18%;
    padding: 15px;
}

.aBrillarLeft h2{
    position: absolute;
    padding: 10px;
    border:#00964f 5px solid;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 35px;
    font-weight: 400;
    right: 86%;
    top: 52%
}

.spotify{
    position: absolute;
    top: 65%;
    right: 70%;
}

/* A Brillar miamor right side*/

.aBrillarRight p{
    background-color: #838df0;
    border: #f57335 5px solid;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 71%;
    top: 45%;
    padding: 25px;
}

.aBrillarRight p a{
    font-weight: bold;
    color: #00964f;
}

.aBrillarRight h2{
    position: absolute;
    padding: 10px;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 35px;
    font-weight: 400;
    left: 75%;
    top: 53%
}

/*Servicios*/
.servicios{
    position: relative;
    text-align: center;
}


.grupales{
    display: inline-block;
    background-color: #00964f;
    width: 25%;
    height: 75%;
    position: absolute;
    right: 67%;
    top: 15%;
}

.unoAuno{
    display: inline-block;
    background-color: #838df0;
    width: 25%;
    height: 75%;
    position: absolute;
    right: 37%;
    top: 15%;
}

.asesoria{
    display: inline-block;
    background-color: #f57335;
    width: 25%;
    height: 75%;
    position: absolute;
    left: 67%;
    top: 15%;
}

.grupales h2, .unoAuno h2, .asesoria h2{
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding: 15px;
}
.grupales p, .unoAuno p, .asesoria p{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    padding: 25px;
}

.grupales img, .unoAuno img, .asesoria img{
    height: 40%;
    width: 65%;
    object-fit: cover;
    padding: 10px;
}

/*Link en los servicios*/
.saber{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
    color: #4f00ff;
}

/*Contacto*/

.contacto{
    position: relative;
    text-align: center;
}

.formulario{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #838df0;
    padding: 50px;
    width: 550px;
    height: 300px;
    position: absolute;
    left: 45%;
    top: 20%;
}

.formulario textarea{
    resize: none;
}

.redes{
    position: absolute;
    right: 60%;
    top: 20%
}

.redes h2{
    padding: 10px;
    color: #f57335;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.icono{
    height: 16%;
    width: 16%;
    object-fit: cover;
    padding: 10px;
}

/*footer*/

footer{
    background-color: #f57335;
    text-align: center;
    padding: 30px;
}