@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.row {
  margin: 0;
}

main {
  background-color: #ffd2ef;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #f57335;
  padding: 7px;
  position: relative;
}
header img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
  transition: 0.5s;
  position: absolute;
  top: 10%;
}
header img:hover {
  width: 66px;
  height: 66px;
  object-fit: cover;
}

nav ul {
  gap: 3px;
}
nav .navText {
  text-decoration: none;
  margin: 5px;
  color: black;
  transition: 0.5s;
}
nav .navText:hover {
  box-shadow: 2px 2px 2px 2px #ffd2ef;
  border-radius: 4px;
  font-size: 18px;
  color: white;
}

footer {
  background-color: #f57335;
  text-align: center;
  padding: 30px;
}

.grilla_index {
  background-color: #ffd2ef;
}
.grilla_index h1 {
  justify-content: center;
  font-size: 60px;
  font-weight: 400;
  text-shadow: #838df0 1px 0 10px;
}

/*Index seccion arriba*/
.indexUp {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ecbddc;
  margin-bottom: 10px;
}
.indexUp .indexUpText p {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.indexUp .indexUpImg img {
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px 3px 3px #838df0;
  border-radius: 5%;
  margin: 10px;
  object-fit: cover;
}

/*Index seccion abajo*/
.secMarcas {
  display: flex;
  height: 75%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #00964f;
  margin-bottom: 10px;
}
.secMarcas h2 {
  font-size: 40px;
  font-weight: 400;
  color: #ffd2ef;
  text-shadow: #838df0 1px 0 10px;
}
.secMarcas .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.secMarcas .logos img {
  width: 250px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  filter: grayscale(100%);
  transition: 0.5s;
}
.secMarcas .logos img:hover {
  width: 300px;
  height: 100px;
  filter: grayscale(0);
}

.grilla_mepre h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 400;
  padding: 5px;
  text-shadow: #838df0 1px 0 10px;
}

.meUp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.meUp p {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 15px;
  align-items: center;
}

.meUpImg {
  display: flex;
  align-items: center;
  gap: 10px;
}
.meUpImg img {
  height: 95%;
  width: 95%;
  object-fit: cover;
  border-radius: 15px;
}

.meDownTitle h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: #838df0 5px solid;
  font-size: 55px;
  font-weight: 400;
}

.meDown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.meDown p {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  align-items: flex-end;
}

.meDownImg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.meDownImg img {
  height: 100%;
  width: 95%;
  object-fit: cover;
}

.carousel {
  margin: 50px;
}
.carousel h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: #838df0 5px solid;
  font-size: 55px;
  font-weight: 400;
}

.grilla_abrillar h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 400;
  margin-top: 10px;
  padding: 5px;
  text-shadow: #838df0 1px 0 10px;
}

.aBrillarLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.aBrillarLeft h2 {
  text-align: left;
  font-size: 40px;
  font-weight: 300;
}
.aBrillarLeft p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.aBrillarImg {
  justify-content: center;
  align-items: center;
}
.aBrillarImg img {
  object-fit: cover;
}

.spotify {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.spotify h2 {
  padding: 10px;
  border: #00964f 5px solid;
  border-radius: 5px;
  background-color: #dd7d50;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}
.spotify iframe {
  width: 268px;
  height: 15%;
  object-fit: cover;
  border-radius: 10px;
}

.aBrillarBottom {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.aBrillarBottom p {
  background-color: #959cd4;
  border: #f57335 5px solid;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding: 90px;
}
.aBrillarBottom p a {
  font-weight: bold;
  color: #00964f;
  padding: 10px 14px;
  transition: 0.3s;
}
.aBrillarBottom p a:hover {
  text-decoration: none;
  border-radius: 10px;
  background-color: #00964f;
  color: white;
}

.aBrillarGabyImg {
  justify-content: center;
  align-items: center;
}
.aBrillarGabyImg img {
  object-fit: cover;
}

.bg-abrillarB {
  background-color: #838df0;
  margin-top: 20px;
}

.grilla_serv h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 400;
  margin-top: 10px;
  padding: 5px;
  text-shadow: #838df0 1px 0 10px;
}

.grupales {
  margin-bottom: 20px;
}
.grupales .card {
  background-color: #e9a281;
  transition: 0.5s;
}
.grupales .card img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}
.grupales .card:hover {
  background-color: #838df0;
  transform: scale(1.1);
}

.unoAuno {
  margin-bottom: 20px;
}
.unoAuno .card {
  background-color: #e9a281;
  transition: 0.5s;
}
.unoAuno .card img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}
.unoAuno .card:hover {
  background-color: #00964f;
  transform: scale(1.1);
}

.asesoria {
  margin-bottom: 20px;
}
.asesoria .card {
  background-color: #e9a281;
  transition: 0.5s;
}
.asesoria .card img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}
.asesoria .card:hover {
  background-color: #f57335;
  transform: scale(1.1);
}

/*Link en los servicios*/
.saber {
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
  color: #4f00ff;
  align-items: baseline;
}

.grilla_contacto h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 400;
  padding: 5px;
  text-shadow: #838df0 1px 0 10px;
}

.formulario {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  background-color: #838df0;
  padding: 20px;
  width: 100%;
  margin-bottom: 15px;
}
.formulario textarea {
  resize: none;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.redes h2 {
  padding: 10px;
  color: #f57335;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.redes .icono {
  width: auto;
  height: 75px;
  object-fit: cover;
  transition: 0.5s;
}
.redes .icono:hover {
  width: auto;
  height: 90px;
}

/*# sourceMappingURL=style.css.map */
