nav{ 
    ul{
        gap: 3px
    }

    .navText {
        text-decoration: none;
        color: black;
        transition: 0.5s;
        
        &:hover{
            box-shadow: 2px 2px 2px 2px $second-color;
            border-radius: 4px;
            font-size: 18px;
            color: white;
        }   
    }
}



