@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}


main{
    background-color: $primary-color;
}

h1{
    padding: 15px;
    font-size: 60px;
    font-weight: 400;
    text-shadow: #838df0 1px 0 10px;
}