.aBrillarLeft{
    @include flex(column, center, center, 10px);
    h2{
        font-size: 40px;
        font-weight: 300;
    }
    p{
        font-size: 20px;
        font-weight: 300;
        text-align:center;
    }
}
.aBrillarImg{
    img{
        width: 100%;
        height: 95%;
        object-fit: cover; 
    }
}
.spotify{
    @include flex(column, center, center, 10px);
    margin-top: 10px;
    h2{
        padding: 10px;
        border:$deco-color 5px solid;
        border-radius: 5px;
        background-color: $comp-color;
        text-align: center;
        font-size: 35px;
        font-weight: 400;
    }
    iframe{
        width: 268px;
        height: 15%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.aBrillarBottom{
    @include flex(row, center, center, 10px);
    p{
        background-color: #959cd4;
        border: $comp-color 5px solid;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        padding: 75px;
        a{
            font-weight: bold;
            color: $deco-color;
            padding: 10px 14px;
            transition: 0.3s;
            &:hover{
                text-decoration: none;
                border-radius: 10px;
                background-color: $deco-color;
                color: white;
            }
        }
    }
}
.aBrillarGabyImg{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
        height: 35%;
        margin: 10px;
        object-fit: cover;
    }
} 
.bg-abrillarB{
    background-color: $second-color;
    margin-top: 20px;
}