/*Index seccion arriba*/
.indexUp{
    @include flex(row, center, center, 0);
    height: 100%;
    background-color: $extra;
    padding: 15px;
    margin-bottom: 45px;
    .indexUpText{
        p{
            font-size: 40px;
            font-weight: 300;
            text-align: center;
        }
    }
    .indexUpImg {
        img{
            height: 100%;
            width: 100%;
            box-shadow: 3px 3px 3px 3px $second-color;
            border-radius: 5%;
            margin: 10px;
            object-fit: cover;
        }
    }
}
/*Index seccion abajo*/
.secMarcas{
    @include flex(row, center, center, 0);
    height: 75%;
    width: 100%;
    padding: 15px;
    background-color: $deco-color;

    h2{
        font-size: 40px;
        font-weight: 400;
        color: $primary-color;
        text-shadow: $second-color 1px 0 10px;
    }
        
    .logos{
        @include flex(row, center, center, 0);
        margin-bottom: 10px;
        img{
            width: 250px;
            height: 80px;
            object-fit: cover; 
            border-radius: 100%;
            filter: grayscale(100%);
            transition: 0.5s;
            &:hover{
                width: 300px;
                height: 100px;
                filter: grayscale(0);
            }
        }
    }
}






