.meUp{
    @include flex(row, space-evenly, center, 10px);
    p{
        font-size: 20px;
        font-weight: 300;
        text-align: justify;
        padding: 15px;
        align-items: center;
    }
}
.meUpImg{
    img{
        height: 95%;
        width: 95%;
        object-fit: cover;
        border-radius: 15px;
    }
}
.meDownTitle{
    h2{
        padding: 30px;
        border: $second-color 5px solid;
        font-size: 55px;
        font-weight: 400;
    }
}
.meDown{
    @extend .meUp;
}
.meDownImg{
    img{
        height: 100%;
        width: 95%;
        object-fit: cover;
    }
}
.carousel{
    margin: 25px;
    @extend .meDownTitle;
}