.grilla_serv{

    h1{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        font-weight: 400;
        margin-top: 10px;
        padding:5px;
        text-shadow: #838df0 1px 0 10px;
    }
}
.grupales{
    margin-bottom: 20px;
    .card{
        background-color:  #e9a281;
        transition: 0.5s;
        img{
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            padding: 5px;
        }
        &:hover{
            background-color: #838df0;
        }
    }
}
.unoAuno{
    margin-bottom: 20px;
    .card{
        background-color:  #e9a281;
        transition: 0.5s;
        img{
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            padding: 5px;
        }
        &:hover{
            background-color: #00964f;
        }
    }
}
.asesoria{
    margin-bottom: 20px;
    .card{
        background-color:  #e9a281;
        transition: 0.5s;
        img{
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            padding: 5px;
            }
            &:hover{
                background-color: #f57335; 
        }
    }
}
/*Link en los servicios*/
.saber{
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
    color: #4f00ff;
    align-items: baseline;
}


