.grupales{
    @extend .serv;
    .card{
        @extend .serv-card;
        img{
            @extend .serv-img;
        }
        &:hover{
            background-color: $second-color;
            transform: scale(1.1);
        }
    }
}
.unoAuno{
    @extend .serv;
    .card{
        @extend .serv-card;
        img{
            @extend .serv-img;
        }
        &:hover{
            background-color: $deco-color;
            transform: scale(1.1);
        }
    }
}
.asesoria{
    @extend .serv;
    .card{
        @extend .serv-card;
        img{
            @extend .serv-img;
            }
            &:hover{
                background-color: $comp-color; 
                transform: scale(1.1);
        }
    }
}
/*Link en los servicios*/
.saber{
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
    color: #4f00ff;
    align-items: baseline;
}


